<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>

		<div id="app">
			<compontent-a></compontent-a>
		</div>

		<template id="slot1">
			<div>
				<input type="text" v-model="keywords" placeholder="search...">
				<select v-model="type">
					<option :value="1" label="序号大->小"></option>
					<option :value="2" label="序号小->大"></option>
					<option :value="3" label="年龄小->大"></option>
					<option :value="4" label="年龄大->小"></option>
				</select>

				<ul>
					<li v-for="(user,index) in userList" :key="index">
						{{user.id}}============={{user.name}}==============={{user.age}}
					</li>
				</ul>

			</div>
		</template>


		<script type="text/javascript">
			let CompontentA = {

				data() {
					return {
						keywords: '',
						type: 1,
						users: [{
								id: 1,
								name: "赵敏",
								age: 18
							},
							{
								id: 2,
								name: "金毛狮王",
								age: 55
							},
							{
								id: 3,
								name: "青翼蝠王",
								age: 44
							},
							{
								id: 4,
								name: "张无忌",
								age: 22
							},
							{
								id: 5,
								name: "张三",
								age: 20
							},
							{
								id: 6,
								name: "阳顶天",
								age: 45
							},
							{
								id: 7,
								name: "白眉鹰王",
								age: 50
							},
							{
								id: 8,
								name: "殷素素",
								age: 30
							},
							{
								id: 9,
								name: "张翠山",
								age: 30
							},
							{
								id: 10,
								name: "张三丰",
								age: 100
							},
							{
								id: 11,
								name: "周芷若",
								age: 20
							},
						]
					}
				},

				computed: {
					userList() {
						let newArr = []

						if (this.type === 1) {
							newArr = this.users.sort((a, b) => {
								return a.id - b.id
							})

						}
						if (this.type === 2) {
							newArr = this.users.sort((a, b) => {
								return b.id - a.id
							})
						}

						if (this.type === 3) {
							newArr = this.users.sort((a, b) => {
								return a.age - b.age
							})
						}

						if (this.type === 4) {
							newArr = this.users.sort((a, b) => {
								return b.age - a.age
							})
						}

						return newArr.filter(user => {
							return user.name.indexOf(this.keywords) !== -1
						})

					}
				},

				template: '#slot1'
			}

			new Vue({
				el: '#app',
				data: {
					container: 'hello'
				},
				components: {
					CompontentA,
				}
			})
		</script>
	</body>
</html>
